<DocsHeader @logo="ember-cli" @addonLogo="ember-cli" />

<DocsViewer as |viewer|>
  <viewer.nav as |nav|>
    {{nav.item 'Overview' 'docs.index'}}
    {{nav.item 'Installation' 'docs.installation'}}
    {{nav.item 'Options' 'docs.options'}}

    {{nav.section 'Addon Features'}}
    {{nav.item 'Component Generator' 'docs.features.generator'}}

    {{nav.section 'Component Features'}}
    {{nav.item 'Accessing Services' 'docs.features.services'}}
    {{nav.item 'Yield to Children' 'docs.features.children'}}
    {{nav.item 'Functional Components' 'docs.features.functional'}}
    {{nav.item 'Optional Mixin Props' 'docs.features.mixin-props'}}
  </viewer.nav>

  <viewer.main>
    <div class="docs-container docs__center">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  </viewer.main>
</DocsViewer>
